@model UserLoginViewModel
@{
	Layout = "~/Pages/Shared/_LayoutUnlogged.cshtml";
	ViewData["Title"] = "Login";
}

<div class="page background-image vertical-align text-center">
	<div class="page-content vertical-align-middle">
		<div class="panel">
			<div class="panel-body">
				<div class="brand">
					<h2 class="brand-text font-size-18">Área 21</h2>
				</div>
				<form asp-action="Login" asp-controller="login" method="POST">
					<div class="form-group form-material floating" data-plugin="formMaterial">
						<input asp-for="Email" type="email" class="form-control" name="email" />
						<label class="floating-label">Email</label>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group form-material floating" data-plugin="formMaterial">
						<input asp-for="Password" type="password" class="form-control" name="password" />
						<label class="floating-label">Senha</label>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					@if (TempData["Message"] != null)
					{
						<p class="text-danger">@TempData["Message"]</p>
					}
					<button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Sign in</button>
				</form>
				<Por>Sem conta? Por favor cadastre-se<p>
			</div>
		</div>
	</div>
</div>