@{
    Layout = "~/Pages/Shared/_LayoutUnlogged.cshtml";
    ViewData["Title"] = "Sobre";
}

<div class="page background-image-about vertical-align text-center">
    <a class="btn btn-lg mb-2 btn-primary float-right" aria-current="page" href="/">Voltar</a>
</div>