@model UserChangePasswordViewModel

<div class="panel col-md-6">
	<form asp-controller="User" asp-action="ChangePassword" method="POST">
		<input type="hidden" asp-for="Id" name="id" />

		<div class="row">
			<div class="form-group col-md-6">
				<label asp-for="CurrentPassword" class="form-control-label" for="email"></label>
				<input asp-for="CurrentPassword" type="password" class="form-control" id="current_password" name="current_password" placeholder="Senha atual">
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label asp-for="NewPassword" class="form-control-label" for="phone"></label>
				<input asp-for="NewPassword" type="password" class="form-control" id="new_password" name="new_password" placeholder="Senha nova">
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-6">
				<label asp-for="ConfirmNewPassword" class="form-control-label" for="phone"></label>
				<input asp-for="ConfirmNewPassword" type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirmar senha nova">
				<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Editar</button>
		</div>
	</form>
</div>