@model UserUpdateAdministratorViewModel;

@{
    var userHierarchy = new SelectList(ViewBag.UserHierarchy as List<string>);

    ViewData["Title"] = "Cadastrar";
}

<form asp-controller="UserAdministrator" asp-action="Update" method="POST">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cpf" class="form-label"></label>
        <input asp-for="Cpf" type="text" id="cpf" class="form-control" />
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HierarchyId" class="form-label" span-required=""></label>
        <select asp-for="HierarchyId" asp-items="userHierarchy" id="selectHierarchy" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IdentificationId" class="form-label"></label>
        <input asp-for="IdentificationId" type="text" class="form-control" id="identificationId" />
        <span asp-validation-for="IdentificationId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    @if (TempData["Message"] != null)
    {
        <p class="text-danger">@TempData["Message"]</p>
    }
    <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Editar conta</button>
</form>

@section Scripts{
    <script>

        $(document).ready(function () {
            let value = $("#selectHierarchy").val();
            if (value == "Guarda") {
                $("#identificationId").prop("disabled", false);
            }
            else {
                $("#identificationId").prop("disabled", true);
            }
        });

        $("#selectHierarchy").on("change", function () {
            let value = $("#selectHierarchy").val();
            $("#identificationId").prop("disabled", true);

            if (value == "Guarda") {
                $("#identificationId").prop("disabled", false);
            }
            else {
                $("#identificationId").prop("disabled", true);
                $("#identificationId").val("");
            }
        });
    </script>
}