@model NotificationRegisterViewModel

<div class="page vertical-align text-center">
	<div class="page-content vertical-align-middle">
		<div class="panel">
			<div class="panel-body">
				<h3 class="h3">Checar</h3>

				<Form asp-action="register" method="Get">

					<div>
						<label asp-for="VehiclePlate" class="form-label" span-required=""></label>
						<input asp-for="VehiclePlate" id="vehiclePlate" class="form-control"/>
						<span asp-validation-for="VehiclePlate" class="text-danger"></span>
					</div>

					<div class="text-end">

						<a asp-action="Checkout" class="btn btn-outline-danger">
							<i class="fa-solid fa-xmark"></i> Cancelar
						</a>

						<button type="submit" class="btn btn-success">
							<i class="fa-solid fa-floppy-disk" ></i> Consultar
						</button>
					</div>
				</Form>

			</div>
		</div>
	</div>
</div>

@section Scripts{
    @if (TempData["ShowMessageToastr"] != null)
    {
        <script>
            toastr.success("@TempData["ShowMessageToastr"]");
        </script>
    }
}