<div class="limiter">
    <div class="container-login100" style="background-image: url('images/homeScreen.jpg');">
        <div class="wrap-index100">
            <img src="images/logoArea21.png" class="wrap-img-area100">
        </div>

        <span class="index100-form-title p-l-100 p-r-100">
            Enviamos um email para você confirmar o seu login e se juntar ao nosso sistema!!!
        </span>

        <span class="index100-form-title p-l-100 p-r-100">
            <a class="confirm-email" href="/">Voltar para área de login</a>
        </span>
    </div>
</div>