<div class="page background-image vertical-align text-center">
    <div class="page-content vertical-align-middle">
        <div class="panel">
            <div class="panel-body">
                <div class="brand">
                    <img class="navbar-brand-logo" src="~/Theme/global/portraits/Logo Black.png">
                </div>
                <p>@TempData["Confirm"]</p>
                <P><a asp-controller="Login" asp-action="Index">Voltar para área de login</a><p>
            </div>
        </div>
    </div>
</div>