<div class="limiter">
    <div class="container-login100" style="background-image: url('images/homeScreen.jpg');">
        <div class="wrap-index100">
            <img src="images/logoArea21.png" class="wrap-img-area100">
        </div>

        <span class="index100-form-title p-l-250 p-r-250">
           @TempData["Confirm"]
        </span>

        <span class="index100-form-title p-l-250 p-r-250">
            <a class="confirm-email" href="/">Voltar para área de login</a>
        </span>
    </div>
</div>