<div class="limiter">
    <div class="container-login100" style="background-image: url('images/homeScreen.jpg');">
        <div class="panel">
            <div class="panel-body">
                <div class="brand">
                    <img class="navbar-brand-logo" src="~/images/logoArea21.png">
                </div>
                <div class="user-confirm col-12">
                    <p>@TempData["Confirm"]</p>
                </div>
                <div class="container-back-home100">
                    <P><a asp-controller="Login" asp-action="Index" class="back-home-index">Voltar para área de login</a><p>
                </div>
            </div>
        </div>
    </div>
</div>