<div class="page" align="center">
    <div class="page background-image vertical-align text-center">
        <a class="btn btn-danger" asp-action="login">
            <i class="fa-solid"></i> Entrar
        </a>
        <a class="btn btn-danger" asp-action="register">
            <i class="fa-solid"></i> Cadastrar
        </a>
    </div>
</div>