<div class="limiter">
    <div class="container-login100" style="background-image: url('images/homeScreen.jpg');">

        <div class="wrap-index100">
            <img src="images/logoArea21.png" class="wrap-img-area100">
        </div>

        <span class="index100-form-title p-l-100 p-r-100">
            Projeto para modernização da Area Azul feito pelos alunos de C#
            Cláudio H. Raimundo, Efraim C. Mertens, Kauã Amaral, Leonardo P. Salvador e Wellington Scaburri
        </span>

        <div class="flex-col-c">
            <div class="container-register100-form-btn">
                <div class="wrap-register100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" asp-controller="Map" asp-action="Index">
                        Mapa
                    </a>
                </div>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-enter100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" href="/login">
                        Entrar
                    </a>
                </div>
            </div>
            
            <div class="container-register100-form-btn">
                <div class="wrap-register100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <a class="login100-form-btn" href="/register">
                        Criar Conta
                    </a>
                </div>
            </div>    
            
        </div>

    </div>
</div>