<div class="limiter">
    <div class="container-login100" style="background-image: url('images/homeScreen.jpg');">
        <img src="images/logoArea21.png">
        <span class="text100-form">
            Trabalho Final do Entra21
            Sistema para apresentação final do Entra21 Blusoft.
            Desenvolvido para facilitar o controle de estacionamentos rotativos de Blumenau (Area Azul)
            <div class="container-enter100-form-btn mb-2">
                <div class="wrap-enter100-form-btn">
                    <div class="enter100-form-bgbtn"></div>
                    <a class="enter100-form-btn" asp-action="login">
                        Entrar
                    </a>
                </div>
            </div>
            <div class="container-register100-form-btn">
                <div class="wrap-create100-form-btn">
                    <div class="create100-form-bgbtn"></div>
                    <a class="create100-form-btn" asp-action="register">
                        Criar Conta
                    </a>
                </div>
            </div>
        </span>
    </div>
</div>