@model UserChangePasswordViewModel

<div class="page-content row justify-content-center">
	<div class="col-6">
		<form asp-controller="User" asp-action="ChangePassword" method="POST">
			<input type="hidden" asp-for="Id" name="id" />
			<div class="row">
				<label asp-for="CurrentPassword" class="form-control-label" for="name"></label>
				<input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Senha atual">
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div>
			<div class="row">
				<label asp-for="NewPassword" class="form-control-label" for="email"></label>
				<input asp-for="NewPassword" type="password" class="form-control" placeholder="Nova senha">
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="row">
				<label asp-for="ConfirmNewPassword" class="form-control-label" for="cpf"></label>
				<input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirmar nova senha">
				<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			</div>

			@if (TempData["message"] != null)
			{
				<p class="text-danger">@TempData["message"]</p>
			}
			<div class="row">
				<button type="submit" class="btn btn-primary mt-20">Editar</button>
			</div>
		</form>
	</div>
</div>
