@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Area21</h1>
    <img src="https://cdn.sonicadigital.com.br/entra21/storage/header/257/original-61f8610472d4f.png" />
</div>
<div class="text-center">
    <a asp-action="entrar" class="btn btn-outline-primary btn-lg">
        <i class="fa-solid fa-plus"></i> Entrar
    </a>
</div>
<div class="text-center">
    <a asp-action="cadastrar" class="btn btn-outline-secondary btn-sm">
        <i class="fa-solid fa-plus"></i>Cadastrar
    </a>
</div>
