@{
    ViewBag.Title = "Approvado";
}
<div class="row">
    <div class="col-sm-12 text-center">

        @{
            if ((bool)ViewData["Status"])
            {
                <br />
                <h1 class="text-success">Gracias!</h1>

                <i class="far fa-check-circle fa-9x text-success"></i>

                <h2 class="text-success"> Su pago fue realizado con exito</h2>
                <h4> ID de Transacción : @ViewData["IdTransaccion"]</h4>
                <br />
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver a la tienda</a>

            }
            else
            {
                <br />
                <h1 class="text-danger">Lo sentimos</h1>
                <i class="fas fa-exclamation-circle fa-9x text-danger"></i>
                <h2 class="text-danger"> Su pago no fue realizado</h2>
                <br />
                <a href="@Url.Action("Index","Home")" class="btn btn-primary">Volver a la tienda</a>
            }

        }

    </div>
</div>