@model List<Vehicle>
@{
    ViewData["Title"] = "Pagamentos";
    Layout = "~/Pages/Shared/_LayoutUnlogged.cshtml";
}

<div class="page background-image-payments vertical-align">
    <div class="table vertical-align-middle">
        <table class="table-center" id="vehicles-id" style="width:70%" align="center">
            <thead>
                <tr>
                    <th style="width:15%"><font size="5"><b><font color="white">Modelo</font></b></font></th>
                    <th style="width:7%"><font size="5"><b><font color="white">Placa</font></b></font></th>
                    <th style="width:3%"><font size="5"><b><font color="white">Ação</font></b></font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicles in Model)
                {
                    <tr>
                        <td><b><font color="white">@vehicles.Model</font></b></td>
                        <td><b><font color="white">@vehicles.LicensePlate</font></b></td>
                        <td>
                            <a class="btn btn-animate mb-2 btn-animate-side btn-primary" asp-action="pagar">
                                <i class="icon wb-shopping-cart" aria-hidden="true"></i>Pagar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-lg mb-2 btn-primary float-right" aria-current="page" href="/">Voltar</a>
        <button class="btn btn-success" onclick="pagar()"><i class="fab fa-paypal"></i> Realizar Pago</button>
    </div>
</div>

@section scripts{
    <script>

        function pagar() {


            var body = {
                precio: 50,
                producto: "Teste"
            }



            jQuery.ajax({
                url: '@Url.Action("Paypal", "Paypal")',
                type: "POST",
                data: JSON.stringify(body),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    console.log(data);
                    $("div.jumbotron").LoadingOverlay("hide");

                    if (data.status) {

                        var jsonresult = JSON.parse(data.respuesta);

                        console.log(jsonresult);

                        var links = jsonresult.links;

                        var resultado = links.find(item => item.rel === "approve")

                        window.location.href = resultado.href

                        /*console.log(links)*/
                        /*console.log(resultado)*/
                    } else {
                        alert("Vuelva a intentarlo más tarde")
                    }


                },
                beforeSend: function () {
                    $("div.jumbotron").LoadingOverlay("show");
                }
            });


        }

    </script>

    }