@model List<Vehicle>

    <table class="table table-striped table-bordered table-hover" id="vehicles-id" style="width:70%" align="center">
        <thead>
            <tr>
                <th style="width:15%">Modelo</th>
                <th style="width:7%">Placa</th>
                <th style="width:3%">Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicles in Model)
            {
                <tr>
                    <td>@vehicles.Model</td>
                    <td>@vehicles.LicensePlate</td>
                    <td>
                        <a class="btn btn-animate mb-2 btn-animate-side btn-primary" asp-action="pagar">
                            <i class="icon wb-shopping-cart" aria-hidden="true"></i>Pagar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>