<!DOCTYPE html>
<html>
<body>
    <div id="googleMap" style="width:100%;height:600px;"></div>

    @section Scripts {
        <script src="~/js/Public/Map/public-map-markers.js"></script>
    }
    </body>
    </html>