@model List<Vehicle>
@{
    ViewData["Title"] = "Pagamentos";
    Layout = "~/Driver/Views/Shared/_LayoutUnlogged.cshtml";
}

<div class="page background-image-payments vertical-align">
    <div class="table vertical-align-middle">
        <table class="table-center" id="vehicles-id" style="width:70%" align="center">
            <thead>
                <tr>
                    <th style="width:15%"><font size="5"><b><font color="white">Modelo</font></b></font></th>
                    <th style="width:7%"><font size="5"><b><font color="white">Placa</font></b></font></th>
                    <th style="width:3%"><font size="5"><b><font color="white">Ação</font></b></font></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicles in Model)
                {
                    <tr>
                        <td><b><font color="white">@vehicles.Model</font></b></td>
                        <td><b><font color="white">@vehicles.LicensePlate</font></b></td>
                        <td>
                            <a class="btn btn-animate mb-2 btn-animate-side btn-primary" asp-action="pagar">
                                <i class="icon wb-shopping-cart" aria-hidden="true"></i>Pagar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
         <a class="btn btn-lg mb-2 btn-primary float-right" aria-current="page" href="/">Voltar</a>
    </div>
</div>