<button class="btn btn-success" onclick="pagar()"><i class="fab fa-paypal"></i> Realizar Pago</button>
@section scripts{
    <script>

        function pagar() {

            var body = {
                precio: "50",
                producto: "Teste"
            }

            jQuery.ajax({
                url: '@Url.Action("Paypal")',
                type: "POST",
                data: JSON.stringify(body),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    console.log(data)

                    if (data.status) {

                        var jsonresult = JSON.parse(data.respuesta);

                        console.log(jsonresult);

                        var links = jsonresult.links;

                        var resultado = links.find(item => item.rel === "approve")

                        window.location.href = resultado.href

                        /*console.log(links)*/
                        /*console.log(resultado)*/
                    } else {
                        alert("Vuelva a intentarlo más tarde")
                    }


                },
                beforeSend: function () {
                }
            });


        }

    </script>

    }