<p class="h3">Lista de Guardas</p>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary nb-2 float-end" data-bs-toggle="model" data-bs-target="#cadastrarGuarda">
            <i class="fa-solid fa-plus"></i> Cadastrar
        </button>
    </div>
</div>

<table class="table table-striped table-bordered" id="guarda-table">
    <thead>
        <tr>
            <th>Número de identificação</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

<partial name="Cadastrar"/>

@section Scripts{
    <script src="~/js/guard/guard-delete.js"></script>
    <script src="~/js/guard/guard-register.js"></script>
    <script src="~/js/guard/guard-update.js"></script>
}