@*<div class="modal fade" id="cadastroGuardaModal" tabindex="-1" aria-labelledby="cadastroGuardaModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cadastroGuardaModalLabel">Cadastro de Guarda</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">*@
<form>
    <input id="cadastroGuardaModalId" class="form-control" type="hidden" />

    <div class="row">
        <div class="col-6">
            <label for="cadastroGuardaModalNome" class="form-label">Nome <span class="text-danger">*</span></label>
            <input id="cadastroGuardaModalNome" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="cadastroGuardaModalCpf" class="form-label">CPF <span class="text-danger">*</span></label>
            <input type="number" id="cadastroGuardaModalCpf" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="cadastroGuardaModalNumeroIdentificacao" class="form-label">Número de Identificação <span class="text-danger">*</span></label>
            <input type="number" id="cadastroGuardaModalNumeroIdentificacao" class="form-control" />
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
        <button type="button" class="btn btn-primary" id="cadastroGuardaModalSalvar"><i class="fa-solid fa-floppy-disk"></i> Cadastrar</button>
    </div>
</form>
@*		</div>
	</div>
</div>*@