@using Entra21.CSharp.Area21.Service.ViewModels.Guards
@model GuardRegisterViewModel

@*@{
    var users = ViewBag.User as List<string>;
    users.Add(string.Empty);

    var selectUsers = new SelectList(users, string.Empty);
}*@

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">

        </div>

        <p>Cadastro do Guarda</p>

        <form asp-action="register" method="POST" role="form">

            <div class="form-group">
                <label asp-for="Cpf" class="sr-only" for="inputCpf">CPF</label>
                <input asp-for="Cpf" class="form-control"
                       id="inputCpf" name="cpf" placeholder="CPF" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>

            @*Modo para digitar apenas para exemplo, depois usar o preenchimento automatico*@
            <div class="form-group">
                <label asp-for="UserId" class="sr-only" for="inputUser">User</label>
                <input asp-for="UserId" class="form-control" id="inputUser" name="user" placeholder="Usuário" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

                <Por>Já é guarda? Faça login<p>

            <div class="form-group">
                <label asp-for="IdentificationNumber" class="sr-only" for="inputIdentificationNumber">Número de Identificação</label>
                <input asp-for="IdentificationNumber" class="form-control"
                       id="inputIdentificationNumber" name="identificationNumber" placeholder="Número de Identificação" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
    </div>
</div>