@using Entra21.CSharp.Area21.Service.ViewModels.Guards
@model GuardRegisterViewModel

<h3 class="h3">Cadastro do Guarda</h3>

<form asp-action="Register" method="POST">
    @*<input id="cadastroGuardaModalId" class="form-control" type="hidden" />*@

    <div class="mb-3">
        <@*label asp-for="Name" class="form-label" span-required=""></label>
        <input asp-for="fullName" class="form-control" />
        <span asp-validation-for="fullName" class="text-danger"></span>*@
    </div> 
</form>