<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped display nowrap" cellspacing="0" width="100%" id="table-payment-adm">
                <thead>
                    <tr>
                        <th><b>Placa</b></th>
                        <th><b>Modelo</b></th>
                        <th><b>Ação</b></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<partial name="Details" />

@section scripts{
    <script src="~/js/Administrator/Payment/administrator-payment-datatable.js"></script>
    <script src="~/js/Administrator/Payment/administrator-payment-details.js"></script>
}