@model List<Payment>
@{
    ViewData["Title"] = "Pagamentos";
}
<table class="table caption-top table-hover" id="payments-id" style="width:85%" align="center">
    <thead>
        <tr>
            <th style="width:15%"><font size="5"><b><font>Modelo</font></b></font></th>
            <th style="width:7%"><font size="5"><b><font>Placa</font></b></font></th>
            <th style="width:3%"><font size="5"><b><font>Ação</font></b></font></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payments in Model)
        {
            <tr>
                <td><b><font>@payments.Vehicle.Model</font></b></td>
                <td><b><font>@payments.Vehicle.LicensePlate</font></b></td>
                <td>
                    <a class="btn btn-primary" asp-controller="Payments" asp-action="details" asp-route-id="@payments.Vehicle.Id" data-bs-target="#detailsPaymentModal">
                        <i class="bi bi-info-circle"></i> Detalhes
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/DetailsPayments.js"></script>
}