@model Guard

<div class="modal" id="guardUpdate">
    <div class="modal-dialog modal-simple">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Editar Guarda</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label asp-for="IdentificationNumber" class="form-label">Número de identificação</label>
                        <input asp-for="IdentificationNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-floppy-disk"></i> Salvar
            </button>
        </div>
    </div>
</div>











@*@{
    ViewData["Title"] = "Update";
    }

    <div class="page" align="center">
    <div class="page vertical-align text-center">
    <div class="page-content vertical-align-middle">
    <div class="panel">
    <div class="panel-body">

    <div class="brand">
    <h1 class="brand-text font-size-18">Editar Guarda</h1>
    </div>

    <form asp-action="Update" asp-controller="Guard" method="POST">
    <input type="hidden" asp-for="Id" />

    <div class="form-group form-material floating" data-plugin="formMaterial">
    <label asp-for="IdentificationNumber" class="sr-only" for="inputIdentificationNumber">Número de identificação</label>
    <input asp-for="IdentificationNumber" class="form-control"
    id="inputIdentificationNumber" name="IdentificationNumber" placeholder="Número de identificação" />
    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
    </div>

    <div class="text-end">
    <a asp-action="Index" class="btn btn-outline-danger">
    <i class="fa-solid fa-xmark"></i> Cancelar
    </a>

    <button type="submit" class="btn btn-success">
    <i class="fa-solid fa-floppy-disk"></i> Salvar
    </button>
    </div>

    </form>
    </div>
    </div>
    </div>
    </div>
    </div>*@
