@model List<User>
@{
    ViewData["Title"] = "Usuários";
}

<section class="p-5">
    <a class="pb-2 btn btn-primary" href="/Administrator/Users/register">
        <i class="fa-solid fa-plus"></i> Cadastrar
    </a>

    <div class="table-responsive" id="no-more-tables">
        <table class="table table-hover" id="vehicles-id">
            <thead>
                <tr>
                    <th><b>Nome</b></th>
                    <th><b>Email</b></th>
                    <th><b>Hierarquia</b></th>
                    <th><b>Ação</b></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td data-title="Nome">Admin</td>
                    <td data-title="Email">admin@admin.com</td>
                    <td data-title="Hierarquia">Administrador</td>
                    <td data-title="Ação">
                        <a class="btn btn-primary" href="/Administrator/Users/update?id=1">
                            <i class="fa-solid fa-pencil"></i> Editar
                        </a>
                        <a class="btn btn-outline-danger" href="/Administrator/Users/delete?id=1">
                            <i class="fa-solid fa-trash"></i> Apagar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

@section scripts{
    <script>

        function teste(id) {
            $.ajax({
                url: '@Url.Action("Paypal", "Paypal")',
                type: "POST",
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data.status) {

                        var jsonresult = JSON.parse(data.response);

                        console.log(jsonresult);

                        var links = jsonresult.links;

                        var resultado = links.find(item => item.rel === "approve")

                        window.location.href = resultado.href
                    }
                    else {
                        alert("Volte mais tarde, o serviço de pagamento não está funcionado!")
                    }
                }
            });
        }
    </script>
    }