<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped display nowrap" cellspacing="0" width="100%" id="table-user-adm">
                <thead>
                    <tr>
                        <th><b>Nome</b></th>
                        <th><b>Email</b></th>
                        <th><b>Hierarquia</b></th>
                        <th><b>Ação</b></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<partial name="UpdateRegister" />

@section scripts{
    <script src="~/js/Administrator/User/administrator-user-datatable.js"></script>
    <script src="~/js/Administrator/User/administrator-user-update.js"></script>
    <script src="~/js/Administrator/User/administrator-user-select2.js"></script>
    <script src="~/js/Administrator/User/administrator-user-register.js"></script>
    <script>
        $(document).ready(function () {
            let value = $("#campo-hierarchy").val();
            if (value == "Guarda") {
                $("#campo-identification").prop("disabled", false);
            }
        });

        $("#campo-hierarchy").on("change", function () {
            let value = $("#campo-hierarchy").val();
            if (value == 1) {
                $("#campo-identification").prop("disabled", false);
            }
            else {
                $("#campo-identification").prop("disabled", true);
                $("#campo-identification").val("");
            }
        });
    </script>
}