<div class="modal fade" id="userUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Editar usuário</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="campo-id" />

				<div class="row">
					<div class="form-group col-6">
						<label for="campo-email" class="form-label">Email</label>
						<input type="text" id="campo-email" class="form-control" />
					</div>

					<div class="form-group col-6">
						<label for="campo-name" class="form-label">Nome Completo</label>
						<input type="text" id="campo-name" class="form-control" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-6">
						<label for="campo-cpf" class="form-label">CPF</label>
						<input type="text" id="campo-cpf" class="form-control cpf"/>
					</div>

					<div class="form-group col-6">
						<label for="campo-phone" class="form-label">Telefone</label>
						<input type="text" id="campo-phone" class="form-control phone" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-6">
						<label for="campo-hierarchy" class="form-label">Hierarquia</label>
						<select id="campo-hierarchy" class="form-select"></select>
					</div>

					<div class="form-group col-6">
						<label for="campo-identification" class="form-label">ID de identificação</label>
						<input type="text" class="form-control" id="campo-identification" disabled />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-6">
						<label for="campo-password" class="form-label">Senha</label>
						<input type="password" id="campo-password" class="form-control" />
					</div>

					<div class="form-group col-6">
						<label for="campo-confirm-password" class="form-label">Confirmar Senha</label>
						<input type="password" id="campo-confirm-password" class="form-control" />
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" id="button-persist-user">Salvar</button>
			</div>
		</div>
	</div>
</div>