<div class="modal fade" id="userUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="campo-email" class="form-label">Email</label>
                    <input type="text" id="campo-email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-name" class="form-label">Nome Completo</label>
                    <input type="text" id="campo-name" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-cpf" class="form-label">CPF</label>
                    <input type="text" id="campo-cpf" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-phone" class="form-label">Telefone</label>
                    <input type="text" id="campo-phone" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-hierarchy"
                           class="form-label">Veterinario</label>
                    <select id="campo-hierarchy" class="form-select"></select>
                </div>

                <div class="form-group">
                    <label for="campo-procedimento"
                           class="form-label">Procedimento</label>
                    <input type="text" id="campo-procedimento"
                           class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-password" class="form-label">Senha</label>
                    <input type="password" id="campo-password" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-confirm-password" class="form-label">Confirmar Senha</label>
                    <input type="password" id="campo-confirm-password" class="form-control" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="button-update-user">Editar</button>
            </div>
        </div>
    </div>
</div>