<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Dashboard Team | Remark Admin Template</title>

    <link rel="apple-touch-icon" href="~/Theme/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Theme/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Theme/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/Theme/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/chartist/chartist.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/aspieprogress/asPieProgress.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/jquery-selective/jquery-selective.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Theme/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Theme/assets/examples/css/dashboard/team.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/Theme/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Theme/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="~/Theme/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/Theme/global/vendor/media-match/media.match.min.js"></script>
    <script src="~/Theme/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/Theme/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition site-navbar-small dashboard">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega"
         role="navigation">


        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">General</li>
                    <li class="dropdown site-menu-item has-sub">
                        <a data-toggle="dropdown" href="/index" data-dropdown-toggle="false">
                            <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
                            <span class="site-menu-title">Início</span>
                            <span class="site-menu"></span>
                        </a>

                    </li>
                    <li class="dropdown site-menu-item has-sub">
                        <a data-toggle="dropdown" href="/veiculos" data-dropdown-toggle="false">
                            <i class="site-menu-icon wb-file" aria-hidden="true"></i>
                            <span class="site-menu-title">Veículos</span>
                            <span class="site-menu"></span>
                        </a>
                    </li>
                    <li class="site-menu-category">Elements</li>
                    <li class="dropdown site-menu-item has-section has-sub">
                    </li>
                    <li class="dropdown site-menu-item has-section has-sub">
                        <a data-toggle="dropdown" href="/sobre" data-dropdown-toggle="false">
                            <i class="site-menu-icon wb-plugin" aria-hidden="true"></i>
                            <span class="site-menu-title">Sobre</span>
                            <span class="site-menu-"></span>
                        </a>

                    <li class="site-menu-category">Apps</li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="nav-item hidden-float" id="toggleMenubar">
                        <a class="nav-link" data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                </ul>

                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                           aria-expanded="false" role="button">
                            <span class="flag-icon flag-icon-br"></span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-br"></span> Português
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-us"></span> Inglês
                                <html lang="fr"></html>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-es"></span> Espanhol
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                <span class="flag-icon flag-icon-de"></span> Alemão
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Theme/global/portraits/user.jpg" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a asp-controller="user" asp-action="update" class="dropdown-item" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Perfil</a>
                            <a asp-action="Payments" asp-controller="Payments" class="dropdown-item">
                                <i class="icon wb-payment"></i> Pagamentos
                            </a>                           
                            <a class="dropdown-item" asp-controller="Login" asp-action="Logout" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Sair</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" title="Notifications"
                           aria-expanded="false" data-animation="scale-up" role="button">
                            <i class="icon wb-bell" aria-hidden="true"></i>
                            <span class="badge badge-pill badge-danger up">0</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <div class="dropdown-menu-header">
                                <h5>Notificações</h5>
                                <span class="badge badge-round badge-danger"></span>
                            </div>

                            <div class="dropdown-menu-footer">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                    Todas Notificações
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <div class="dropdown-menu-header" role="presentation">
                                <h5>MENSSAGES</h5>
                                <span class="badge badge-round badge-info">New 3</span>
                            </div>

                            <div class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="pr-10">
                                                    <span class="avatar avatar-sm avatar-online">
                                                        <img src="~/Theme/global/portraits/2.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Mary Adams</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2018-06-17T20:22:05+08:00">30 minutes ago</time>
                                                    </div>
                                                    <div class="media-detail">Anyways, i would like just do it</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="pr-10">
                                                    <span class="avatar avatar-sm avatar-off">
                                                        <img src="~/Theme/global/portraits/3.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Caleb Richards</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2018-06-17T12:30:30+08:00">12 hours ago</time>
                                                    </div>
                                                    <div class="media-detail">I checheck the document. But there seems</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="pr-10">
                                                    <span class="avatar avatar-sm avatar-busy">
                                                        <img src="~/Theme/global/portraits/4.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">June Lane</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2018-06-16T18:38:40+08:00">2 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="pr-10">
                                                    <span class="avatar avatar-sm avatar-away">
                                                        <img src="~/Theme/global/portraits/5.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Edward Fletcher</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2018-06-15T20:34:48+08:00">3 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)" role="menuitem">
                                    See all messages
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon wb-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <!-- Page -->
    <div class="page" >
        <div class="page-content container-fluid">
    <div class="page">
        @*        <div class="page-content container-fluid">*@
        @RenderBody()
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <!-- First Row -->
            <!-- End Second Row -->
        </div>
        </div>
    </div>
    <!-- End Page -->
    <!-- Add Item Dialog -->
    <div id="addtodoItemForm" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="addtodoItemForm"
         aria-hidden="true">
        <div class="modal-dialog modal-simple">
            <form class="modal-content form-horizontal" role="form" action="#" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="moadl-title">Create New To Do Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="title">Title:</label>
                        <div class="col-sm-10">
                            <input id="title" class="form-control" type="text" name="title" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="dueDate">Due Date</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input id="dueDate" class="form-control" type="text" data-plugin="datepicker" data-container="#addtodoItemForm" />
                                <span class="input-group-append">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="people">People:</label>
                        <div class="col-sm-10">
                            <select id="people" multiple="multiple" class="plugin-selective">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button class="btn btn-primary" data-dismiss="modal" type="button">
                            Add This Item
                        </button>
                        <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Add Item Dialog -->
    <!-- Edit Dialog -->
    <div class="modal fade" id="edittodoItemForm" aria-hidden="true" aria-labelledby="edittodoItemForm"
         role="dialog" tabindex="-1" data-show="false">
        <div class="modal-dialog modal-simple">
            <form class="modal-content form-horizontal" action="#" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Edit To Do Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="editTitle">
                            Title:
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="editTitle" name="editTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="editStarts">
                            Due Date:
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="editDueDate" name="editDueDate" data-container="#edittodoItemForm"
                                       data-plugin="datepicker">
                                <span class="input-group-append">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" for="editPeople">
                            People:
                        </label>
                        <div class="col-sm-10">
                            <select id="editPeople" multiple="multiple" class="plugin-selective"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button class="btn btn-primary" data-dismiss="modal" type="button">Save</button>
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
                        <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Edit Dialog -->
    <script src="~/Theme/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/Theme/global/vendor/jquery/jquery.js"></script>
    <script src="~/Theme/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/Theme/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Theme/global/vendor/animsition/animsition.js"></script>
    <script src="~/Theme/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Theme/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Theme/global/vendor/asscrollable/jquery-asScrollable.js"></script>

    <!-- Plugins -->
    <script src="~/Theme/global/vendor/switchery/switchery.js"></script>
    <script src="~/Theme/global/vendor/intro-js/intro.js"></script>
    <script src="~/Theme/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Theme/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Theme/global/vendor/chartist/chartist.js"></script>
    <script src="~/Theme/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script>
    <script src="~/Theme/global/vendor/aspieprogress/jquery-asPieProgress.js"></script>
    <script src="~/Theme/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="~/Theme/global/vendor/jquery-selective/jquery-selective.min.js"></script>
    <script src="~/Theme/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- Scripts -->
    <script src="~/Theme/global/js/Component.js"></script>
    <script src="~/Theme/global/js/Plugin.js"></script>
    <script src="~/Theme/global/js/Base.js"></script>
    <script src="~/Theme/global/js/Config.js"></script>

    <script src="~/Theme/assets/js/Section/Menubar.js"></script>
    <script src="~/Theme/assets/js/Section/Sidebar.js"></script>
    <script src="~/Theme/assets/js/Section/PageAside.js"></script>
    <script src="~/Theme/assets/js/Plugin/menu.js"></script>

    <!-- Config -->
    <script src="~/Theme/global/js/config/colors.js"></script>
    <script src="~/Theme/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '../assets');</script>

    <!-- Page -->
    <script src="~/Theme/assets/js/Site.js"></script>
    <script src="~/Theme/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Theme/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Theme/global/js/Plugin/switchery.js"></script>
    <script src="~/Theme/global/js/Plugin/matchheight.js"></script>
    <script src="~/Theme/global/js/Plugin/aspieprogress.js"></script>
    <script src="~/Theme/global/js/Plugin/bootstrap-datepicker.js"></script>
    <script src="~/Theme/global/js/Plugin/asscrollable.js"></script>

    <script src="~/Theme/assets/examples/js/dashboard/team.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
