<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-end">
                <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalRegisterVehicle">
                    Cadastrar
                </button>
            </div>
            <table class="table table-bordered table-striped display nowrap" cellspacing="0" width="100%" id="table-vehicle-driver">
                <thead>
                    <tr>
                        <th><b>Placa</b></th>
                        <th><b>Tipo do Veículo</b></th>
                        <th><b>Modelo</b></th>
                        <th><b>Ação</b></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<partial name="Register" />
<partial name="Update" />

@section Scripts{
    <script src="~/js/Driver/Vehicle/driver-vehicle-datatable.js"></script>
    <script src="~/js/Driver/Vehicle/driver-vehicle-register.js"></script>
    <script src="~/js/Driver/Vehicle/driver-vehicle-update.js"></script>
    <script src="~/js/Driver/Vehicle/driver-vehicle-delete.js"></script>
    <script src="~/js/Driver/Vehicle/vehicle-select2.js"></script>
}