<div class="row mb-3">
    <div class="text-end">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#modalRegisterVehicle">
            Cadastrar
        </button>
    </div>
</div>  

<table class="table caption-top table-hover" id="vehicles-id" style="width:85%" align="center">
    <thead>
        <tr>
            <th style="width:15%"><font size="5"><b><font>Placa</font></b></th>
            <th style="width:15%"><font size="5"><b><font>Modelo</font></b></th>
            <th style="width:15%"><font size="5"><b><font>Tipo Veículo</font></b></th>
            <th style="width:15%"><font size="5"><b><font>Ação</font></b></th>
        </tr>
    </thead>
</table>

<partial name="Register" />

@section Scripts{
    <script src="~/js/Driver/Vehicle/driver-vehicle-datatable.js"></script>
    <script src="~/js/Driver/Vehicle/driver-vehicle-register.js"></script>
}