<div class="modal fade" id="modalRegisterVehicle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div col-3>
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro de Veiculos</h5>
                </div>
                <div col-12>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="campo-license-plate" class="form-label">Placa</label>
                    <input id="campo-license-plate" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-model"
                           class="form-label">Modelo</label>
                    <input id="campo-model" class="form-control" />
                </div>
                <div>
                    <div class="form-group">
                        <label for="campo-type"
                               class="form-label">Tipo de Veiculo</label>
                        <select id="campo-type" class="form-select"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="button-register-vehicle">Cadastrar</button>
            </div>
        </div>
    </div>
</div>