<div class="modal fade" id="vehicleUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div col-3>
                    <h5 class="modal-title" id="exampleModalLabel">Editar Veiculo</h5>
                </div>
                <div col-12>
                    <button type="button" class="btn-close-update" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="campo-licensePlate-update" class="form-label">Placa</label>
                    <input type="text" id="campo-licensePlate-update" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-model-update" class="form-label">Modelo</label>
                    <input type="text" id="campo-model-update" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-type-update" class="form-label">Tipo de veículo</label>
                    <select id="campo-type-update" class="form-select"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="button-update-vehicle">Editar</button>
            </div>
        </div>
    </div>
</div>