<html>
<head>
     <meta charset="utf-8">
    <title>Area21</title>
    
    <link rel="shortcut icon" href="~/Theme/global/portraits/Logo Desenho Menor_Prancheta 1.png ">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Theme/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/site.min.css">
    <link rel="stylesheet" href="~/css/site.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="~/Theme/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Theme/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
</head>
<body class="body-login">
    <div class="background-image">
        @RenderBody()
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



