<div class="modal fade" id="userUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div col-3>
                    <h5 class="modal-title" id="exampleModalLabel">Editar Veiculo</h5>
                </div>
                <div col-12>
                    <button type="button" class="btn-close-update" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <input id="updateUserModalId" class="form-control" type="hidden" />
                <div class="form-group">
                    <label for="campo-name-update" class="form-label">Nome Completo</label>
                    <input type="text" id="campo-name-update" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-email-update" class="form-label">E-mail</label>
                    <input type="text" id="campo-email-update" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="campo-cpf-update" class="form-label">CPF</label>
                    <input id="campo-cpf-update" class="form-select" />
                </div>    
                <div class="form-group">
                    <label for="campo-phone-update" class="form-label">Telefone</label>
                    <input id="campo-phone-update" class="form-select" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="button-update-driver-user">Editar</button>
            </div>
        </div>
    </div>
</div>