.back-image {
    background-image: url("../Theme/global/portraits/Area21_Inicio_Log.jpg") !important;
    background-image-about: url("../Theme/global/portraits/Sobre21.jpg") !important;
    background-image-payments: url("../Theme/global/portraits/Pagamentos.jpg") !important;
}
