.back-image {
    background-image: url("../Theme/global/portraits/LoginCadastros.jpg") !important;
    background-image-about: url("../Theme/global/portraits/Sobre21.jpg") !important;
    background-image-payments: url("../Theme/global/portraits/Pagamentos.jpg") !important;
    background-image-vehicles: url("../Theme/global/portraits/ListaVeiculos.jpg") !important;
    background-image-cadastros: url("../Theme/global/portraits/LoginCadastros.jpg") !important;
}
